{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="tw-w-full tw-min-h-[100vh] tw-flex tw-flex-col tw-overflow-hidden tw-relative">
    <div class="tw-w-full tw-h-full tw-p-[5%] tw-place-content-center tw-min-h-[100vh] 
                tw-justify-around tw-place-items-center tw-flex max-lg:tw-flex-col">

        <!-- Text Section -->
        <div class="tw-flex tw-flex-col tw-place-content-center tw-max-w-[750px] tw-min-w-[550px] 
                    max-md:tw-min-w-[300px] tw-text-center">
            <h1 class="tw-text-5xl tw-font-semibold tw-uppercase tw-leading-normal max-md:tw-text-4xl 
                    max-md:tw-leading-[70px]">
                Welcome, {{ username }}!
            </h1>
            <div class="tw-mt-5 tw-p-2 tw-text-justify max-md:tw-max-w-full">
                We thank you for being a part of the Sports Connect community. This is your personal home page. From here, you can easily access all our service has to offer.
            </div>
            
            <!-- Button (Optional) -->
            <a href="#" class="btn tw-mt-5 tw-ml-auto 
                               tw-duration-[0.3s] tw-transition-transform hover:tw-translate-x-2">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>

        <!-- Image Section -->
        <div class="tw-max-w-[550px] tw-place-content-center tw-place-items-center tw-mt-10 max-md:!tw-mt-5">
            <div class="tw-rounded-lg tw-overflow-clip tw-shadow-xl ">
                <img src="{% static './assets/images/welcome1.jpg' %}" alt="Welcome Image" class="tw-w-full tw-h-full">
            </div>
        </div>

    </div>
</section>
{% endblock %}