{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="tw-w-full tw-min-h-[100vh] tw-flex tw-flex-col tw-overflow-hidden tw-relative">
    <div class="tw-w-full tw-h-full tw-p-[5%] tw-place-content-center tw-min-h-[100vh] 
                tw-justify-around tw-place-items-center tw-flex max-lg:tw-flex-col">

        <!-- Left Section (Title, Text, Button) -->
        <div class="tw-flex tw-flex-col tw-place-content-center tw-max-w-[750px] tw-min-w-[550px] 
                    max-md:tw-min-w-[300px]">
            <h1 class="tw-text-5xl tw-font-semibold tw-uppercase tw-leading-normal max-md:tw-text-4xl 
                    max-md:tw-leading-[70px]">
                Welcome, {{ username }}!
            </h1>
            <div class="tw-mt-5 tw-p-2 tw-text-justify max-md:tw-max-w-full">
                We thank you for being a part of the Sports Connect community. This is your personal home page. From here, you can easily access all our service has to offer.
            </div>

            <!-- Logout Button (Below Text, Aligned Left) -->
            <div class="tw-mt-5">
                <a href="{% url 'logout' %}" class="btn tw-py-2 tw-px-6 tw-bg-red-600 tw-text-white tw-rounded-lg 
                                                tw-text-lg tw-font-semibold tw-shadow-md
                                                hover:tw-bg-red-700 tw-transition-all">
                    Log Out
                </a>
            </div>
        </div>

        <!-- Right Section (Image) -->
        <div class="tw-max-w-[550px] tw-place-content-center tw-place-items-center max-md:!tw-mt-10">
            <div class="tw-rounded-lg tw-overflow-clip tw-shadow-xl">
                <img src="{% static './assets/images/welcome1.jpg' %}" alt="Welcome Image" class="tw-w-full tw-h-full">
            </div>
        </div>

    </div>
</section>
{% endblock %}
